@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:ital@1&display=swap');
@import './global.scss';
$global-font: "Poppins", sans-serif;
$logo-font: 'Rubik', sans-serif;
$primary: #3b7ec7;
$secondary: #64D487;
$contrast:#FFA63D;
$purple:  #7f00ff;
$contrast-2:#FDD750;
$background: #F8F7F4;
$dark: #2A3A4E;
$blue:#008CFF;
$grey: #E5E5E5;