@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:ital@1&display=swap");
@import "./global.scss";
$global-font: "Poppins", sans-serif;
$logo-font: "Rubik", sans-serif;
$primary: #3b7ec7;
$secondary: #64d487;
$contrast: #ffa63d;
$purple: #7f00ff;
$contrast-2: #fdd750;
$background: #f8f7f4;
$dark: #2a3a4e;
$blue: #008cff;
$grey: #e5e5e5;

.title-rites {
  box-sizing: border-box;
  background-color: $contrast;
  color: $background;
  font-size: 20px;
  width: 100%;
  height: 80px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 80px;
  @media (max-width: 999px) {
    font-size: 16px;
    word-break: break-all;
  }
}
.title-medium {
  box-sizing: border-box;
  background-color: $purple;
  color: $background;
  font-size: 20px;
  width: 100%;
  height: 80px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 80px;
  @media (max-width: 999px) {
    font-size: 16px;
    word-break: break-all;
  }
}
.title-actors {
  box-sizing: border-box;
  background-color: $blue;
  color: $background;
  font-size: 20px;
  width: 100%;
  height: 80px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 80px;
  @media (max-width: 999px) {
    font-size: 16px;
    word-break: break-all;
    line-height: 40px;
    letter-spacing: 1px;
  }
}
